
.inverse { color: white }
.normal { color: black }
.sidebar { background-color: white; padding: 4px; border: solid 1px black }
a:active { color: #808080 }
a:hover { color: red }
a:visited { color: #808080 }
button { font-weight: bold; font-size: 10px; font-family: verdana, geneva, arial, helvetica }
input { font-size: 10px; font-family: verdana, geneva, arial, helvetica }
td { font-size: 9px; font-family: verdana, geneva, arial, helvetica }
textarea { font-size: 10px; font-family: verdana, geneva, arial, helvetica }
.error { color: red; font-weight: bold }
